/* Header Section Styles */
.header {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: fixed; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* aligns content below navbar */
  overflow: hidden;
  outline: 2px solid red;
  z-index: 10000; /* Ensure header stays above other content */
  top: 0;
  left: 0;
}
